<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <form method="post">
      <h2>Login</h2>
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        <br>
        <input type="submit" value="Login"><br>
        <br>
        <br>
        <a href="forgotpassword.html">Forgot Password?</a>  <!-- Link to a forgot password page -->
        <br>
        <br>
        <a href="/signup">Sign Up</a> <!-- Link to the signup page if the user needs to create an account -->
    </form>
</body>
</html>
